table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 15%;
  }
  
  .label {
    display: block;
    font-weight: bold;
    text-indent: 8px;
    color: #656565;
  }
