<div class="container shadow">
<section class="slideshow  ">
    <div class="content">
        
        <div class="slider-content">
            
            
            <figure class="shadow" > 
                <img src="assets\img\image--002.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--003.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--004.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--005.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--006.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--007.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--008.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--009.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--010.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--011.jpg">
            </figure>            <figure class="shadow" > 
                <img src="assets\img\image--012.jpg">
            </figure>           <figure class="shadow" > 
                <img src="assets\img\image--014.jpg">
            </figure>           <figure class="shadow" > 
                <img src="assets\img\image--015.jpg">
            </figure>
            <figure class="shadow" > 
                <img src="assets\familliaLogo">
            </figure>
        </div>
    </div>
    
</section>
        <!-- ---------------------- Site Content -------------------------->

        <section class="border">
            <div class="site-content">
                <div class="posts row">
                    <div class="col-md-12" style="padding: 20px;">
                        <div class="card shadow">
                            <img class="card-img-top" src="assets\img\image--004.jpg" width="650px" height="350px" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="font-normal">Business development of rules 2017</h3>
                                <span class="label label-info label-rounded">Technology</span>
                                <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis ipsum ac
                                    feugiat.
                                    Ibulum ullamcorper</p>
                                <div class="d-flex m-t-20">
                                    <button class="btn p-l-0 btn-link ">Read more</button>
                                    <div class="ml-auto align-self-center">
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="max-height:100vh;padding: 20px;">
                        <div class="card shadow">
                            <img class="card-img-top img-responsive" src="assets\img\image--005.jpg"  alt="Card image cap">
                            <div class="card-body">
                                <h3 class="font-normal">Business development of rules 2017</h3>
                                <span class="label label-info label-rounded">Technology</span>
                                <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis ipsum ac
                                    feugiat.
                                    Ibulum ullamcorper</p>
                                <div class="d-flex m-t-20">
                                    <button class="btn p-l-0 btn-link ">Read more</button>
                                    <div class="ml-auto align-self-center">
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="max-height:100vh;padding: 20px;">
                        <div class="card shadow">
                            <img class="card-img-top img-responsive" src="assets\img\image--008.jpg"  alt="Card image cap">
                            <div class="card-body">
                                <h3 class="font-normal">Business development of rules 2017</h3>
                                <span class="label label-info label-rounded">Technology</span>
                                <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis ipsum ac
                                    feugiat.
                                    Ibulum ullamcorper</p>
                                <div class="d-flex m-t-20">
                                    <button class="btn p-l-0 btn-link ">Read more</button>
                                    <div class="ml-auto align-self-center">
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="sidebar">
                        <div class="category">
                            <h2>Category</h2>
                            <ul class="category-list">
                                <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                    <a href="#">Software</a>
                                    <span>(05)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                                    <a href="#">Techonlogy</a>
                                    <span>(02)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                    <a href="#">Lifestyle</a>
                                    <span>(07)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                    <a href="#">Shopping</a>
                                    <span>(01)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                    <a href="#">Food</a>
                                    <span>(08)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="popular-post">
                            <h2>Popular Post</h2>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                                <div class="post-image">
                                    <div>
                                        <img src="./assets/popular-post/m-blog-1.jpg" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                                <div class="post-image">
                                    <div>
                                        <img src="./assets/popular-post/m-blog-2.jpg" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                                <div class="post-image">
                                    <div>
                                        <img src="./assets/popular-post/m-blog-3.jpg" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                                <div class="post-image">
                                    <div>
                                        <img src="./assets/popular-post/m-blog-4.jpg" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                                <div class="post-image">
                                    <div>
                                        <img src="./assets/popular-post/m-blog-5.jpg" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                        </div>
                        <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                            <h2>Newsletter</h2>
                            <div class="form-element">
                                <input type="text" class="input-element" placeholder="Email">
                                <button class="btn form-btn">Subscribe</button>
                            </div>
                        </div>
                        <div class="popular-tags">
                            <h2>Popular Tags</h2>
                            <div class="tags flex-row">
                                <span class="tag" data-aos="flip-up" data-aos-delay="100">Software</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="200">technology</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="300">travel</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="400">illustration</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="500">design</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="600">lifestyle</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="700">love</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="800">project</span>
                            </div>
                        </div>
                    </aside>                    <div class="pagination flex-row">
                        <a href="#"><i class="fas fa-chevron-left"></i></a>
                        <a href="#" class="pages">1</a>
                        <a href="#" class="pages">2</a>
                        <a href="#" class="pages">3</a>
                        <a href="#"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </div>

  

<div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Stop Bullying</span>
    </h1>
    <h1 class="hide">
      <span class="text">For A Better Life</span>
    </h1>
    <h1 class="hide">
      <span class="text">FAMILIA</span>
    </h1>
  </div>
</div>
<div class="slider"></div>
   
    