<section class="slideshow">
    <div class="content">
        
        <div class="slider-content">
            
            
            <figure class="shadow" > 
                <img src="assets\img\image--002.jpg">
        </figure>            <figure class="shadow" > 
            <img src="assets\img\image--003.jpg">
    </figure>            <figure class="shadow" > 
        <img src="assets\img\image--004.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--005.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--006.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--007.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--008.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--009.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--010.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--011.jpg">
</figure>            <figure class="shadow" > 
    <img src="assets\img\image--012.jpg">
</figure>           <figure class="shadow" > 
    <img src="assets\img\image--014.jpg">
</figure>           <figure class="shadow" > 
    <img src="assets\img\image--015.jpg">
</figure>
           <figure class="shadow" > 
    <img src="assets\familliaLogo.png">
</figure>
      </div>
    </div>
    
  </section>
   
    
  
  
  <div class="intro">
    <div class="intro-text">
      <h1 class="hide">
        <span class="text">Stop Bullying</span>
      </h1>
      <h1 class="hide">
        <span class="text">For A Better Life</span>
      </h1>
      <h1 class="hide">
        <span class="text">FAMILIA</span>
      </h1>
    </div>
  </div>
  <div class="slider"></div>