<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" href="#">
    <img src="assets/familliaLogo.png" width="110px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['homepage']" [routerLinkActive]="['active']" >Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['feeds']" [routerLinkActive]="['active']">Feeds</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Types of Bullying
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Physical</a>
          <a class="dropdown-item" href="#">Collective</a>
          <a class="dropdown-item" href="#">Context of Bullying </a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['article']" [routerLinkActive]="['active']" >Manage Article </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['headline']" [routerLinkActive]="['active']" >Manage Headlines </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['user']" [routerLinkActive]="['active']" >Manage Users </a>
      </li>
    </ul>
  </div>
</nav>
